@mixin align($align: center) {
  align-items: $align;
  padding-top: 30px;
  height: 250px;
  padding-bottom: 0;
}

#user-info {
  @include align;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background-color: #FB9F89;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");;
}

/* Avatar and Name Stlying */
.userAvatar {
  height: 200px
}

.userName {
  font-size: 30px;
  color: white;
  padding-top: 0;
  padding-bottom: 25px;
}