@use 'base';

nav {
  position: fixed;
  height: 120px;
  width: 100%;
  box-shadow: 10px 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  border-width: thin;
  border-radius: 5px;
  overflow: hidden;
  top: 0;
}

nav {
  .title {
    font-family: base.$nav-font-family;
    font-size: 2em;
    line-height: 1.5em;
    text-shadow: 2px 0px 2px;
  }

  .newTweetArrow {
    padding-top: 5px;
    background-color: transparent;
    border: none;
    color: base.$text-colour;
  }

  .newTweetArrow:hover {
    animation: bounce 0.3s infinite alternate
  }

  @keyframes bounce {
    to { transform: scale(1.2); }
  }

  .writeTweetContainer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .writeTweetContainer i {
    font-size: 1em;
    margin-bottom: 10px;
  }
}

#scrollUpButton {
  background-color: base.$primary-colour;
  border: none;
  border-radius: 50px;
  color: base.$text-colour;
  padding: 10px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 12px;
  z-index: 99;
  font-size: 1.5rem;
  margin: 4px 2px;
}

#scrollUpButton:hover {
  box-shadow: 2px 2px 2px 0 black; /* Add a dark-grey background on hover */
  transition: box-shadow 0.3s ease;
}

@media only screen and (min-width: 961px) {
  .body:not(nav) {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin: 50px
  }
}