.blankError,
.charError {
  color: white;
  height: 30px;
  background-color: rgb(221, 98, 98);
  font-size: 0.9rem;
  padding: 6px 0 0 6px;
  display: none;
  align-items: center;
  border-radius: 2px;
}
