nav {
  position: fixed;
  height: 120px;
  width: 100%;
  box-shadow: 10px 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  border-width: thin;
  border-radius: 5px;
  overflow: hidden;
  top: 0;
}

nav .title {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  text-shadow: 2px 0px 2px;
}

.newTweetArrow {
  padding-top: 5px;
  background-color: transparent;
  border: none;
  color: white;
}

.newTweetArrow:hover {
  animation: bounce 0.3s infinite alternate
}

@keyframes bounce {
  to { transform: scale(1.2); }
}

.writeTweetContainer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeTweetContainer i {
  font-size: 1em;
  margin-bottom: 10px;
}

