.new-tweet {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.new-tweet textarea {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px black;
  border-style: solid;
}
.submit-and-counter {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-and-counter button {
  color: white;
  background-color: #4056A1;
  border: none;
  border-radius: 2px;
  font-family: 'Bungee', sans-serif;
}

.submit-and-counter button:hover {
  box-shadow: 2px 2px 2px 0 black;
}