.tweet-container article {
  box-sizing: border-box;
  width: 100%;
  border: black;
  border-width: 2px rgb(46, 44, 44);
  border-style: solid;
  padding: 1rem 1.5rem;
  margin: 2rem auto;
}

.tweet-container article header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}

p#tweet-container-text {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px black;
  padding-bottom: 1em;
  border-style: solid;
  margin: 0 0;
}

.tweet-container article footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.5em;
}

.fa-solid.fa-flag:hover {
  color:orange;
}

.fa-solid.fa-retweet:hover {
  color:orange;
}

.fa-solid.fa-heart:hover {
  color:orange;
}